# Это комментарий
*.log  # Исключить все файлы с расширением .log
secret_key  # Исключить файл с именем secret_key
private/  # Исключить директорию с именем private и все её содержимое
rabbitmq-data/
db.sqlite3