{% extends 'base/base.html' %}


{% block content %}
    <h1>Код оператора</h1>
<div style="display: flex;justify-content: space-around;">

    <div style="display: flex;width: 50%; flex-wrap: wrap;">
        {% for code in operator_cods %}
            <div style="display: flex;align-items: center;margin: 10px;border: solid 1px; padding: 5px; width: 10%;height: 25%; text-align: center;background-color: blueviolet;">
                <p>{{ code.code }}</p>
                <form style="margin-left: 10px;" method="post" action="{% url 'operator_code_delete' code_id=code.id %}">
                    {% csrf_token %}
                <button type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
            </div>
        {% endfor %}
    </div>
    <form method="post">
        <h2>Добавить код оператора</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}