{% extends 'base/base.html' %}


{% block content %}
    <h2>Теги</h2>
    <div style="display: flex;justify-content: space-around;">

        <div style="display: flex;width: 50%; flex-wrap: wrap;">

            {% for tag in tags %}
                <div style="display: flex;align-items: center;margin: 10px;border: solid 1px; padding: 5px; width: 20%;height: 25%; text-align: center;background-color: blueviolet;">
                    <p>
                        {{ tag.name }}
                    </p>
                    <form style="margin-left: 10px;" method="post" action="{% url 'tag_delete' tag.id %}">
                        {% csrf_token %}
                        <button type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>

                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Добавить тег</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

{% endblock %}